<tr>
<td colspan="3">
<hr>
</td>
</tr>
<tr>
<td width="30%" valign="middle">
<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
<b>
</b></font></td>
<td width="30%" valign="middle">
<center>
<font size="-2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><i>
<a href="http://{{ powered_by }}">Powered by {{ service_name }}</a>
</i></font></center>
</td>
<td width="30%" valign="middle" align="right">
<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
<b>
</b></font></td>

</tr>
<tr>
<td colspan="3">
<hr>